/* Global Styles
-------------------------- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: rgb(72, 72, 72);
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Century Gothic", "Futura", sans-serif;
}

p, footer {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    color: rgb(50, 200, 200);
    font-size: 34pt;
    font-style: oblique;
}

header p {
    border-left: rgb(50, 200, 200) solid thin;
    padding-left: 20px;
    color: rgba(208, 208, 208, 0.804);
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(50, 200, 200);
}

a:hover {
    font-weight: bold;
}

header, .projects, .work-experience, .education {
    padding: 60px 20%;

}

/* Profiles
-------------------------- */

header {
    background: rgb(36, 36, 36);
    color: white;
}

/* Projects
-------------------------- */
.projects {
    background: whitesmoke;
    overflow: hidden;
}

.projects a {
    background: rgb(50, 200, 200);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.projects img {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.item {
    border-bottom: rgba(208, 208, 208, 0.804) solid 2px;
    padding: 20px 0;
}

/* Work Experience
-------------------------- */
.work-experience {

}

/* Education
-------------------------- */
.education {
    background: whitesmoke;
    margin: 0;
}

/* Contact Info
-------------------------- */
footer {
    background: rgb(36, 36, 36);
    color: white;
    text-align: center;
    padding: 40px;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline;
    padding: 0 40px;
}